.u-typography-master-headline {
    @include typography(master-headline);
}

.u-typography-master-subheadline {
    @include typography(master-subheadline);
}

.u-typography-headline1 {
    @include typography(headline1);
}

.u-typography-subheadline1 {
    @include typography(subheadline1);
}

.u-typography-headline2 {
    @include typography(headline2);
}

.u-typography-headline3 {
    @include typography(headline3);
}

.u-typography-title {
    @include typography(title);

    &:only-child {
        margin-bottom: -0.45rem;
    }

    @include breakpoint-up(lg) {
        &:only-child {
            margin-bottom: -0.25rem;
        }
    }
}

.u-typography-hanging-list {
    @include breakpoint-up(lg) {
        margin-left: -$typography-list-padding-left;
    }
}

.u-typography-perex {
    max-width: 32ch;

    &::first-line {
        font-style: italic;
        font-size: map-get($typography-scale, 2);
    }

    @include breakpoint-up(md) {
        padding-top: $typography-body-baseline-compensation - 0.25rem;
        margin-bottom: $typography-body-baseline-compensation - 0.25rem;

        &::first-line {
            font-size: map-get($typography-scale, 3);
            line-height: spacing(1) + 0.25rem;
        }
    }
}

.u-typography-note {
    @include typography(body);

    font-style: italic;
}

.u-typography-blockquote {
    @include typography(blockquote);
}

.u-typography-link {
    position: relative;
    white-space: nowrap;

    &::after {
        @include transition(border-color);

        content: '';
        position: absolute;
        bottom: 0.25rem;
        display: block;
        width: 100%;
        border-bottom: 1px solid map-get($colors-grays, gray);
    }

    &:hover::after,
    &:focus::after {
        border-bottom-color: currentColor;
    }
}
