---
layout: base
title: Egamebook — A dungeon master in your pocket
description: "Egamebook is a project which strives to bring the gamebook (aka Choose-Your-Own-Adventure) experience to the 'new media' platforms (mobile, tablet, web, …) and to the 21st century."
---

<header class="header">
    <div class="container">

        <h1 class="typography-title">
            <a href="{{ site.url }}">{{ site.name }}</a>
        </h1>

        <div class="grid">
            <div class="grid__item grid__item--header-headline">

                <h2 class="typography-master-headline">
                    A Dungeon<br />
                    Master<br />
                    <span class="typography-master-subheadline">in Your Pocket</span>
                </h2>

            </div>
            <div class="grid__item grid__item--header-perex">

                <p class="typography-perex">
                    Imagine reading a&nbsp;book where you can do much more than just choose a&nbsp;path. Imagine a&nbsp;book where your actions have realistic and meaningful impact on the fictional, simulated world.
                </p>

            </div>
            <div class="grid__item grid__item--header-phone u-print-none">

                <div class="phone">
                    <div class="phone__canvas">
                        <div class="phone__image">
                            <div class="phone__frame">
                                <div class="phone__frame__screen-area">

                                    <!-- Phone screen: video -->
                                    <video class="phone__screen" autoplay playsinline muted loop poster="{% asset screencast-poster.jpg @path %}">
                                        <source src="{% asset screencast.mp4 @path %}" type="video/mp4" />
                                    </video>

                                    <!-- Phone screen: image -->
                                    <!--<img src="{% asset screen@2x.jpg @path %}" class="phone__screen" alt="Egamebook" />-->

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="phone__caption">Prototype</div>
                </div>

            </div>
        </div>

    </div>
</header>
<main class="main">
    <section class="section">
        <div class="container">

            <h2 class="typography-headline1">
                GAMES SHOULD BE EPIC<br />
                <span class="typography-subheadline1">Not in graphics or voice acting, but in stories told and choices given</span>
            </h2>

            <div class="grid">
                <div class="grid__item grid__item--text-right">

                    <p>Egamebook is a project that strives to bring some of the best bits of traditional role-playing games (like <em>Dungeons &amp; Dragons</em>) to a mobile phone near you. It's not visual. It's not a videogame. It's 90% description. Description that your read as a book.
                    </p>

                    <p>It is not a choose-your-path book, either. It goes beyond the traditional branching-narrative affair that most people associate with interactive fiction or text games. In Egamebook, the player can do many things, and their choice can radically change the game world. In fact, many of the paragraphs the player reads are unique to their experience because the paragraph is generated from the internal state of the world, as opposed to being pre-written by the author.</p>

                    <p>Egamebook is immersive through its open-endedness, like a good <em>Dungeons &amp; Dragons</em> session. </p>

                </div>
                <div class="grid__item grid__item--figure-left">

                    <div class="container__expand">
                        <figure class="figure figure--scene">
                            <div class="figure__media">
                                <img
                                    src="{% asset shooting-the-bandit.jpg @path %}"
                                    class="figure__media__image"
                                    alt="Paul de la Gironiere shooting the bandit Cajoui, from Aventures d’un Gentilhomme Breton aux iles Philippines by Paul de la Gironiere, published in 1855"
                                />
                            </div>
                        </figure>
                    </div>

                </div>
            </div>

        </div>
    </section>

    <section class="section">
        <div class="container">
            <img
                src="{% asset rendered-in-text.png @path %}"
                class="figure__media__image"
                alt="An image that shows a video-game screen on the left, an internal representation in the middle, and a description of the representation on the right. The description says: 'Behind Ralof's back, and beyond a large rock formation, you see a sleeping bear.'. Taken from Filip's article 'Skyrim rendered in text'."
            />
        </div>
    </section>

    <section class="section">
        <div class="container">

            <h2 class="typography-headline1">
                APP-CLASS USER EXPERIENCE<br />
                <span class="typography-subheadline1">Respects your time and your phone</span>
            </h2>

            <div class="grid">
                <div class="grid__item grid__item--text-left">

                    <p>There are no loading screens here, and it takes well under one second for the game to start. Scrolling is the way you expect from any app on your phone. Exiting the game at any time won't lose your progress.</p>
                    <p>Egamebook doesn't drain battery the way most games do, despite doing some complex simulation in the background.</p>
                    <p>The design of the game is deliberately as close to a reading app as possible. No superficial animations, thrown dice, or skeuomorphic buttons. The game interface is clean and minimal. If a random stranger looks over your shoulder, they won't think you're playing a text-heavy videogame. They will think you're reading a new kind of book.</p>
                    <p>When we're commuting or when we manage to steal those few minutes of "me" time, we're not whipping out a <em>PlayStation</em> with <em>Uncharted</em> or a PC with <em>Skyrim</em> or a <em>Switch</em> with <em>Fortnite</em>. Even if we do, how well are we able to get into flow in the limited time and space available to us?</p>

                    <!--<input type="checkbox" id="collapsible" class="collapsible-input" />-->
                    <!--<label-->
                        <!--for="collapsible"-->
                        <!--class="typography-note typography-link collapsible-label"-->
                        <!--data-uncollapsed-text="Show less"-->
                    <!--&gt;-->
                        <!--<span class="collapsible-label__text">Read more</span>-->
                    <!--</label>-->
                    <!--<div class="collapsible-content">-->
                        <!--<p>POTENTIALLY ADD MORE HERE</p>-->
                    <!--</div>-->

                </div>
                <div class="grid__item grid__item--figure-right">

                    <div class="container__expand">
                        <figure class="figure figure--portrait">
                            <div class="figure__media">
                                <img
                                    src="{% asset bandit.jpg @path %}"
                                    class="figure__media__image"
                                    alt="Page 443, Mcclure’s Magazine, Mar 1897—Extract of illustration from scan of story, 'Huerfano Bill, the Bandit.'"
                                />
                            </div>
                            <figcaption class="figure__caption">“I don't have time for this loading screen bullshit.”</figcaption>
                        </figure>
                    </div>

                </div>
            </div>

        </div>
    </section>

    <section class="section">
        <div class="container">

            <h2 class="typography-headline1">
                FEWER NUMBERS, MORE IMMERSION<br />
                <span class="typography-subheadline1">Leave the math to the Dungeon Master</span>
            </h2>

            <div class="grid">
                <div class="grid__item  grid__item--text-right">

                    <p>Deep down, egamebook uses more sophisticated game simulation than any table-top role playing game — and most videogames, too. Game characters have full simulated anatomy. Monsters plan ahead. Any combat action's result depends on wounds, stance, weapon, armor, and much more.</p>
                    <p>Yet, all this is kept at an intuitive level, so that you — the player — don't need to keep track of hundreds of different variables. If you understand that being out of balance is bad for you in a swordfight, you don't need to know the exact math of the simulation.</p>

                </div>
                <div class="grid__item grid__item--figure-left">

                    <div class="container__expand">
                        <figure class="figure figure--scene">
                            <div class="figure__media">
                                <img
                                    src="{% asset combat-resolution.jpg @path %}"
                                    class="figure__media__image"
                                    alt="Dendrono - Der fechtende Student (etching)"
                                />
                            </div>
                        </figure>
                    </div>

                </div>
            </div>

        </div>
    </section>

    <section class="section">
        <div class="container">

            <h2 class="typography-headline1">
                INTROSPECTIVE LEISURE<br />
                <span class="typography-subheadline1">Read a book, play chess, explore an egamebook</span>
            </h2>

            <div class="grid">
                <div class="grid__item  grid__item--text-left">

                    <p>Have you noticed how taboo it is to play a videogame in some situations? For example, if you're in a room with a person who is not into videogames, playing feels weird. Yet, substitute the videogame with chess, for example, or with reading a book, and it's all good. Why is this?</p>
                    <p>Most videogames require real time attention. So by playing them, you are effectively forced to ignore the people around you. Videogames can be disrupting others with sounds, music and fast moving visuals. And they can be frustrating to play when you can't give them the attention they need.</p>
                    <p>There are times for videogames — and then there are times when you want something less demanding of your real-time attention. We hope that egamebook will be a great option for the latter.</p>

                </div>
                <div class="grid__item grid__item--figure-right">

                    <div class="container__expand">
                        <figure class="figure figure--portrait">
                            <div class="figure__media">
                                <img
                                    src="{% asset introspective-leisure.jpg @path %}"
                                    class="figure__media__image"
                                    alt="A drawing of women playing chess in a family setting."
                                />
                            </div>
                            <figcaption class="figure__caption">“Good game, mama.”</figcaption>
                        </figure>
                    </div>

                </div>
            </div>

        </div>
    </section>
</main>

<footer class="footer">
    <div class="container">

        <h2 class="typography-headline1">
            Where to get&nbsp;it<br />
            <span class="typography-subheadline1">Enough said, now show&nbsp;me</span>
        </h2>

        <div class="grid">
            <div class="grid__item grid__item--footer-cta">

                <div class="cta-layout">
                    <div class="cta-layout__item">

                        <a href="/vermin" class="icon-box">
                            <span class="icon-box__icon">
                                {% include svg/web.svg %}
                            </span>
                            <span class="icon-box__title">
                                Try prototype
                            </span>
                        </a>
                        <div class="tooltip">
                            <div class="tooltip__text">
                                It launches in your browser and it's&nbsp;free!
                            </div>
                        </div>

                    </div>
                    <div class="cta-layout__item">

                        <div class="icon-box icon-box--disabled">
                            <span class="icon-box__icon">
                                {% include svg/ios.svg %}
                            </span>
                            <span class="icon-box__title">
                                Coming soon
                            </span>
                        </div>

                    </div>
                    <div class="cta-layout__item">

                        <div class="icon-box icon-box--disabled">
                            <span class="icon-box__icon">
                                {% include svg/android.svg %}
                            </span>
                            <span class="icon-box__title">
                                Coming soon
                            </span>
                        </div>

                    </div>
                </div>

            </div>
            <div class="grid__item grid__item--footer-note">

                <h3 class="typography-headline3">Current Status</h3>
                <p class="typography-note">The system is being developed along with the first true egamebook, called «&nbsp;Insignificant Little Vermin&nbsp;».</p>
                <p class="typography-note">Already, it can do all the basic stuff and much more, but it doesn’t make sense to release it just yet. The world doesn’t need another ‘okay’ electronic gamebook system. It needs a&nbsp;polished system, with a&nbsp;shining example of a&nbsp;gamebook.</p>

            </div>
        </div>

        <hr class="u-print-none" />

        {% include mailchimp-signup-form.html modification="footer" %}

        <hr />

        {% include footer-bottom.html %}

    </div>
</footer>
