---
layout: base
title: Egamebook — A Dungeon Master in Your Pocket
description: >-
    Egamebook is a project that strives to bring some of the best bits
    of traditional role-playing games (like Dungeons & Dragons) to
    a mobile phone near you.
---

<header class="header">
    <div class="container">

        <h1 class="u-typography-title">
            <a href="{{ site.url }}">{{ site.name }}</a>
        </h1>

        <div class="grid">
            <div class="grid__item grid__item--header-headline">

                <h2 class="u-typography-master-headline">
                    A Dungeon<br />
                    Master<br />
                    <span class="u-typography-master-subheadline">in Your Pocket</span>
                </h2>

            </div>
            <div class="grid__item grid__item--header-perex">

                <p class="u-typography-perex">
                    Imagine reading a&nbsp;book where you can do much more than just choose a&nbsp;path. Imagine a&nbsp;book where your actions have realistic and meaningful impact on the fictional, simulated world.
                </p>

            </div>
            <div class="grid__item grid__item--header-phone u-print-none">

                <div class="phone">
                    <div class="phone__canvas">
                        <div class="phone__image">
                            <div class="phone__frame">
                                <div class="phone__frame__screen-area">

                                    <!-- Phone screen: video -->
                                    <video class="phone__screen" autoplay playsinline muted loop poster="/img/screencast-poster.jpg?v=2019021201">
                                        <source src="/img/screencast.mp4?v=2019100401" type="video/mp4" />
                                    </video>

                                    {% comment %}
                                    <!-- Phone screen: image -->
                                    <img src="/img/screen@2x.jpg?v=2019021201" class="phone__screen" alt="Egamebook" />
                                    {% endcomment %}

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="phone__caption">Prototype</div>
                </div>

            </div>
        </div>

    </div>
</header>
<main class="main u-color-variant-light">
    <section class="section">
        <div class="container">

            <h2 class="u-typography-headline1">
                Games Should Be&nbsp;Epic<br />
                <span class="u-typography-subheadline1">Not in graphics or voice acting, but in stories told and&nbsp;choices&nbsp;given</span>
            </h2>

            <div class="grid">
                <div class="grid__item grid__item--text-right">

                    <p>Egamebook is a project that strives to bring some of the best bits of traditional role-playing games (like <em>Dungeons &amp; Dragons</em>) to a mobile phone near you. It’s not visual. It’s not a videogame. It’s 90% description. Description that your read as a book.</p>
                    <p>It is not a choose-your-path book, either. It goes beyond the traditional branching-narrative affair that most people associate with interactive fiction or text games. In Egamebook, the player can do many things, and their choice can radically change the game world. In fact, many of the paragraphs the player reads are unique to their experience because the paragraph is generated from the internal state of the world, as opposed to being pre-written by the author.</p>
                    <p>Egamebook is immersive through its open-endedness, like a good <em>Dungeons &amp; Dragons</em> session.</p>

                </div>
                <div class="grid__item grid__item--figure-left">

                    <div class="container__expand">
                        <figure class="figure figure--scene">
                            <div class="figure__media">
                                <img
                                    src="/img/shooting-the-bandit.jpg?v=2019021201"
                                    class="figure__media__image"
                                    alt="Paul de la Gironiere shooting the bandit Cajoui, from Aventures d’un Gentilhomme Breton aux iles Philippines by Paul de la Gironiere, published in 1855"
                                />
                            </div>
                        </figure>
                    </div>

                </div>
            </div>

        </div>
    </section>

    <section class="panel u-color-variant-dark">
        <div class="container">

            <h2 class="u-typography-headline1">
                Simulation,<br />
                rendered in&nbsp;text<br />
                <span class="u-typography-subheadline1">Not just pre-written paragraphs</span>
            </h2>

            <div class="pyramid-layout">
                <div class="pyramid-layout__item pyramid-layout__item--1">

                    <figure class="explanation-figure">
                        <div class="explanation-figure__media">
                            <img
                                src="/img/ralof-outline.svg?v=2019040501"
                                class="explanation-figure__media__image"
                                alt="Internal representation"
                            />
                        </div>
                        <figcaption class="tooltip">
                            <div class="tooltip__text">
                                Internal representation
                            </div>
                        </figcaption>
                    </figure>

                </div>
                <div class="pyramid-layout__item pyramid-layout__item--2">

                    <figure class="explanation-figure">
                        <div class="explanation-figure__media">
                            <img
                                src="/img/ralof-3d_400w@2x.jpg?v=2019040501"
                                srcset="
                                    /img/ralof-3d_400w@2x.jpg?v=2019040501 800w,
                                    /img/ralof-3d_700w@2x.jpg?v=2019040501 1400w
                                "
                                sizes="
                                    (min-width: 48em) calc((100vw - 2 * 5.25rem - 1.75rem) / 2),
                                    calc(100vw - 2 * 1.75rem)
                                "
                                class="explanation-figure__media__image"
                                alt="Rendered in 3d"
                            />
                        </div>
                        <figcaption class="tooltip">
                            <div class="tooltip__text">
                                Rendered in 3D
                            </div>
                        </figcaption>
                    </figure>

                </div>
                <div class="pyramid-layout__item pyramid-layout__item--3">

                    <figure class="explanation-figure">
                        <div class="explanation-figure__quote">
                            <blockquote class="u-typography-blockquote">
                                Behind <strong class="u-highlight u-highlight--yellow">Ralof’s</strong> back,
                                and beyond a&nbsp;large <strong class="u-highlight u-highlight--turquoise">rock formation</strong>,
                                you see a&nbsp;sleeping&nbsp;<strong class="u-highlight u-highlight--magenta">bear</strong>.
                            </blockquote>
                        </div>
                        <figcaption class="tooltip">
                            <div class="tooltip__text">
                                Rendered in text
                            </div>
                        </figcaption>
                    </figure>

                </div>
            </div>

        </div>
    </section>

    <section class="section">
        <div class="container">

            <h2 class="u-typography-headline1">
                App-Class User Experience<br />
                <span class="u-typography-subheadline1">Respects your time and your&nbsp;phone</span>
            </h2>

            <div class="grid">
                <div class="grid__item grid__item--text-left">

                    <p>There are no loading screens here, and it takes well under one second for the game to start. Scrolling is the way you expect from any app on your phone. Exiting the game at any time won’t lose your progress.</p>
                    <p>Egamebook doesn’t drain battery the way most games do, despite doing some complex simulation in the background.</p>
                    <p>The design of the game is deliberately as close to a reading app as possible. No superficial animations, thrown dice, or skeuomorphic buttons. The game interface is clean and minimal. If a random stranger looks over your shoulder, they won’t think you’re playing a text-heavy videogame. They will think you’re reading a new kind of book.</p>
                    <p>When we’re commuting or when we manage to steal those few minutes of “me” time, we’re not whipping out a <em>PlayStation</em> with <em>Uncharted</em> or a PC with <em>Skyrim</em> or a <em>Switch</em> with <em>Fortnite</em>. Even if we do, how well are we able to get into flow in the limited time and space available to us?</p>

                </div>
                <div class="grid__item grid__item--figure-right">

                    <div class="container__expand">
                        <figure class="figure figure--portrait">
                            <div class="figure__media">
                                <img
                                    src="/img/bandit.jpg?v=2019021201"
                                    class="figure__media__image"
                                    alt="Page 443, Mcclure’s Magazine, Mar 1897—Extract of illustration from scan of story, 'Huerfano Bill, the Bandit.'"
                                />
                            </div>
                            <figcaption class="figure__caption">
                                <div class="container__expand__text">
                                    “I don’t have time for this loading screen&nbsp;bullshit.”
                                </div>
                            </figcaption>
                        </figure>
                    </div>

                </div>
            </div>

        </div>
    </section>

    <section class="section">
        <div class="container">

            <h2 class="u-typography-headline1">
                Fewer Numbers,<br />
                More Immersion<br />
                <span class="u-typography-subheadline1">Leave the math to the Dungeon&nbsp;Master</span>
            </h2>

            <div class="grid">
                <div class="grid__item grid__item--text-right">

                    <p>Deep down, Egamebook uses more sophisticated game simulation than any table-top role playing game — and most videogames, too. Game characters have full simulated anatomy. Monsters plan ahead. Any combat action’s result depends on wounds, stance, weapon, armor, and much more.</p>
                    <p>Yet, all this is kept at an intuitive level, so that you — the player — don’t need to keep track of hundreds of different variables. If you understand that being out of balance is bad for you in a swordfight, you don’t need to know the exact math of the simulation.</p>

                </div>
                <div class="grid__item grid__item--figure-left">

                    <div class="container__expand">
                        <figure class="figure figure--bandits">
                            <div class="figure__media">
                                <img
                                    src="/img/huerfano-bill-the-bandit.png?v=2019030501"
                                    class="figure__media__image"
                                    alt="Page 444, Mcclure’s Magazine, Mar 1897—Extract of illustration from scan of story, 'Huerfano Bill, the Bandit.'"
                                />
                            </div>
                        </figure>
                    </div>

                </div>
            </div>

        </div>
    </section>

    <section class="section">
        <div class="container">

            <h2 class="u-typography-headline1">
                Introspective Leisure<br />
                <span class="u-typography-subheadline1">Read a book, play chess, explore an&nbsp;Egamebook</span>
            </h2>

            <div class="grid">
                <div class="grid__item grid__item--text-left">

                    <p>Have you noticed how taboo it is to play a videogame in some situations? For example, if you’re in a room with a person who is not into videogames, playing feels weird. Yet, substitute the videogame with chess, for example, or with reading a book, and it’s all good. Why is this?</p>
                    <p>Most videogames require real time attention. So by playing them, you are effectively forced to ignore the people around you. Videogames can be disrupting others with sounds, music and fast moving visuals. And they can be frustrating to play when you can’t give them the attention they need.</p>
                    <p>There are times for videogames — and then there are times when you want something less demanding of your real-time attention. That’s what Egamebook is for.</p>

                </div>
                <div class="grid__item grid__item--figure-right">

                    <div class="container__expand">
                        <figure class="figure figure--chess">
                            <div class="figure__media">
                                <img
                                    src="/img/introspective-leisure.jpg?v=2019021201"
                                    class="figure__media__image"
                                    alt="A drawing of women playing chess in a family setting."
                                />
                            </div>
                            <figcaption class="figure__caption">
                                <div class="container__expand__text">
                                    “Good game, mama.”
                                </div>
                            </figcaption>
                        </figure>
                    </div>

                </div>
            </div>

        </div>
    </section>
</main>

<footer class="footer">
    <div class="container">

        <h2 class="u-typography-headline1">
            Where to get&nbsp;it<br />
            <span class="u-typography-subheadline1">Enough said, now show&nbsp;me</span>
        </h2>

        <div class="grid">
            <div class="grid__item grid__item--footer-cta">

                <div class="cta-layout">
                    <div class="cta-layout__item">

                        <a href="/vermin" class="icon-box">
                            <span class="icon-box__icon">
                                {% include svg/web.svg %}
                            </span>
                            <span class="icon-box__title">
                                Try prototype
                            </span>
                        </a>
                        <div class="tooltip">
                            <div class="tooltip__text">
                                It launches in your browser and it’s&nbsp;free!
                            </div>
                        </div>

                    </div>
                    <div class="cta-layout__item">

                        <div class="icon-box icon-box--disabled">
                            <span class="icon-box__icon">
                                {% include svg/ios.svg %}
                            </span>
                            <span class="icon-box__title">
                                Coming soon
                            </span>
                        </div>

                    </div>
                    <div class="cta-layout__item">

                        <div class="icon-box icon-box--disabled">
                            <span class="icon-box__icon">
                                {% include svg/android.svg %}
                            </span>
                            <span class="icon-box__title">
                                Coming soon
                            </span>
                        </div>

                    </div>
                </div>

            </div>
            <div class="grid__item grid__item--footer-note">

                <h3 class="u-typography-headline3">Current Status</h3>
                <p class="u-typography-note">The system is being developed along with a sword-and-sorcery story. An early prototype version of the story, called «&nbsp;Insignificant Little Vermin&nbsp;», was released in 2017. You can play that early version in your web browser.</p>
                <p class="u-typography-note">The current version is miles ahead of the 2017 prototype, and is being developed as an app for iOS and Android.</p>

            </div>
        </div>

        <hr class="u-print-none" />

        {% include mailchimp-signup-form.html modification="footer" %}

        <hr />

        {% include footer-bottom.html %}

    </div>
</footer>
