@import "typography";

@font-face {
    font-family: 'Libre Baskerville';
    src:
        asset_url('LibreBaskerville-Regular.woff2') format('woff2'),
        asset_url('LibreBaskerville-Regular.woff') format('woff');
    font-weight: map-get($typography-font-weight-values, regular);
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Libre Baskerville';
    src:
        asset_url('LibreBaskerville-Italic.woff2') format('woff2'),
        asset_url('LibreBaskerville-Italic.woff') format('woff');
    font-weight: map-get($typography-font-weight-values, regular);
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Libre Baskerville';
    src:
        asset_url('LibreBaskerville-Bold.woff2') format('woff2'),
        asset_url('LibreBaskerville-Bold.woff') format('woff');
    font-weight: map-get($typography-font-weight-values, bold);
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Libre Franklin';
    src:
        asset_url('LibreFranklin-Thin.woff2') format('woff2'),
        asset_url('LibreFranklin-Thin.woff') format('woff');
    font-weight: map-get($typography-font-weight-values, thin);
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Libre Franklin';
    src:
        asset_url('LibreFranklin-Light.woff2') format('woff2'),
        asset_url('LibreFranklin-Light.woff') format('woff');
    font-weight: map-get($typography-font-weight-values, light);
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Libre Franklin';
    src:
        asset_url('LibreFranklin-Black.woff2') format('woff2'),
        asset_url('LibreFranklin-Black.woff') format('woff');
    font-weight: map-get($typography-font-weight-values, black);
    font-style: normal;
    font-display: swap;
}
