$typography-font-family-sans-serif: 'Libre Franklin', helvetica, arial, sans-serif;
$typography-font-family-serif: 'Libre Baskerville', georgia, times, serif;

$typography-font-weight-values: (
    thin: 100,
    light: 300,
    regular: 400,
    bold: 700,
    black: 900,
);

$typography-font-size-base: 100%; // 16 px
$typography-font-size-base-x2l: 106.26%; // 17 px
$typography-font-size-base-x3l: 112.5%; // 18 px
$typography-font-size-base-x4l: 118.75%; // 19 px
$typography-line-height-base: 1.75rem;

$typography-scale: (
    -3: 0.625rem, // 10 px
    -2: 0.75rem, // 12 px
    -1: 0.875rem, // 14 px
    0: 1rem, // 16 px
    1: 1.125rem, // 18 px
    2: 1.25rem, // 20 px
    3: 1.5rem, // 24 px
    4: 1.75rem, // 28 px
    5: 1.875rem, // 30 px
    6: 3rem, // 48 px
    7: 3.5rem, // 56 px
    8: 4.5rem, // 72 px
    9: 6rem, // 96 px
);

$typography-body-baseline-compensation: 0.5rem;
$typography-list-padding-left: 2em;

$typography-styles: (
    master-headline: (
        default: (
            padding-top: 0.7rem,
            margin-bottom: spacing(2) - 0.7rem,
            font-weight: map-get($typography-font-weight-values, black),
            font-size: map-get($typography-scale, 6),
            line-height: spacing(2),
            font-family: $typography-font-family-sans-serif,
            letter-spacing: -0.025em,
            text-transform: uppercase,
        ),
        breakpoints: (
            md: (
                padding-top: 1rem,
                margin-bottom: spacing(3) - 1rem,
                font-size: map-get($typography-scale, 8),
                line-height: spacing(3),
            ),
            xl: (
                padding-top: 1.35rem,
                margin-bottom: spacing(4) - 1.35rem,
                font-size: map-get($typography-scale, 9),
                line-height: spacing(4),
            ),
        ),
    ),
    master-subheadline: (
        default: (
            display: block,
            padding-top: 0.55rem,
            margin-bottom: -0.55rem,
            font-weight: map-get($typography-font-weight-values, thin),
            font-size: map-get($typography-scale, 3),
            line-height: spacing(2),
            font-family: $typography-font-family-sans-serif,
            letter-spacing: 0.05em,
            text-transform: uppercase,
        ),
        breakpoints: (
            md: (
                padding-top: 0.55rem,
                margin-bottom: -0.55rem,
                font-size: map-get($typography-scale, 6),
                line-height: spacing(3),
            ),
            xl: (
                padding-top: 0,
                margin-bottom: 0,
                font-size: map-get($typography-scale, 7),
            ),
        ),
    ),
    headline1: (
        default: (
            padding-top: 0.2rem,
            margin-bottom: spacing(2) - 0.2rem,
            font-weight: map-get($typography-font-weight-values, black),
            font-size: map-get($typography-scale, 5),
            line-height: spacing(1),
            font-family: $typography-font-family-sans-serif,
            letter-spacing: -0.01em,
            text-transform: uppercase,
        ),
        breakpoints: (
            md: (
                padding-top: 0.7rem,
                margin-bottom: spacing(3) - 0.7rem,
                font-size: map-get($typography-scale, 6),
                line-height: spacing(2),
            ),
            lg: (
                padding-top: 0.5rem,
                margin-bottom: spacing(4) - 0.5rem,
                font-size: map-get($typography-scale, 7),
            ),
        ),
    ),
    subheadline1: (
        default: (
            display: block,
            padding-top: 0.25rem,
            margin-bottom: -0.25rem,
            font-weight: map-get($typography-font-weight-values, regular),
            font-size: map-get($typography-scale, 2),
            line-height: spacing(1),
            font-family: $typography-font-family-serif,
            font-style: italic,
            text-transform: none,
        ),
        breakpoints: (
            md: (
                padding-top: 0.55rem,
                margin-bottom: -0.55rem,
                font-size: map-get($typography-scale, 3),
                line-height: spacing(2),
            ),
            lg: (
                padding-top: 0.7rem,
                padding-left: grid-column-spacing(1, 12),
                margin-bottom: -0.7rem,
                font-size: map-get($typography-scale, 4),
            ),
            xl: (
                padding-left: grid-column-spacing(2, 12),
            ),
        ),
    ),
    headline2: (
        default: (
            padding-top: 0.3rem,
            margin-bottom: spacing(1) - 0.3rem,
            font-weight: map-get($typography-font-weight-values, regular),
            font-size: map-get($typography-scale, 4),
            line-height: spacing(1),
            font-family: $typography-font-family-serif,
            font-style: italic,
        ),
    ),
    headline3: (
        default: (
            padding-top: $typography-body-baseline-compensation,
            margin-bottom: spacing(1) - $typography-body-baseline-compensation,
            font-weight: map-get($typography-font-weight-values, black),
            font-size: map-get($typography-scale, 1),
            line-height: spacing(1),
            font-family: $typography-font-family-sans-serif,
            text-transform: uppercase,
        ),
    ),
    title: (
        default: (
            padding-top: 0.45rem,
            margin-bottom: spacing(4) - 0.45rem,
            font-weight: map-get($typography-font-weight-values, black),
            font-size: map-get($typography-scale, 2),
            line-height: spacing(1),
            font-family: $typography-font-family-sans-serif,
            letter-spacing: 0.05em,
            text-transform: uppercase,
            text-align: right,
        ),
        breakpoints: (
            lg: (
                padding-top: 0.25rem,
                margin-bottom: spacing(4) - 0.25rem,
                font-size: map-get($typography-scale, 4),
                line-height: spacing(1),
            ),
        ),
    ),
    body: (
        default: (
            padding-top: $typography-body-baseline-compensation,
            margin-bottom: spacing(1) - $typography-body-baseline-compensation,
            font-weight: map-get($typography-font-weight-values, regular),
            font-size: map-get($typography-scale, 1),
            line-height: spacing(1),
            font-family: $typography-font-family-serif,
        ),
    ),
    small: (
        default: (
            padding-top: 0.5rem,
            margin-bottom: -0.5rem,
            font-weight: map-get($typography-font-weight-values, regular),
            font-size: map-get($typography-scale, -1),
            line-height: spacing(1),
            font-family: $typography-font-family-serif,
        ),
    ),
    button: (
        default: (
            padding-top: 0.6rem,
            margin-bottom: -0.6rem,
            font-weight: map-get($typography-font-weight-values, black),
            font-size: map-get($typography-scale, 0),
            line-height: spacing(1),
            font-family: $typography-font-family-sans-serif,
            letter-spacing: 0.075em,
            text-transform: uppercase,
        ),
    ),
    input: (
        default: (
            font-weight: map-get($typography-font-weight-values, light),
            font-size: map-get($typography-scale, 0),
            line-height: spacing(1),
            font-family: $typography-font-family-sans-serif,
            letter-spacing: 0.175em,
        ),
    ),
    tooltip: (
        default: (
            padding-top: 0.5rem,
            margin-bottom: -0.5rem,
            font-size: map-get($typography-scale, 0),
            line-height: spacing(1),
            font-family: $typography-font-family-serif,
            font-style: italic,
        ),
    ),
    mockup-caption: (
        default: (
            font-size: map-get($typography-scale, -3),
            line-height: 1,
            font-family: $typography-font-family-sans-serif,
            letter-spacing: 0.1em,
            text-transform: uppercase,
        ),
        breakpoints: (
            md: (
                font-size: map-get($typography-scale, -2),
            ),
            xl: (
                font-size: map-get($typography-scale, -1),
            ),
        ),
    ),
);
