.grid {
    @include breakpoint-up(md) {
        @include grid-template();
    }
}

.grid__item {
    @include breakpoint-up(md) {
        grid-column: 1 / span $grid-columns;
    }
}

.grid__item--header-headline {
    @include breakpoint-up(lg) {
        grid-column: 1 / span 6;
        order: 1;
        padding-top: spacing(2);
    }
}

.grid__item--header-perex {
    @include breakpoint-up(md) {
        grid-column: 1 / span 5;
        grid-row: 2; // specify row for IE
        padding-top: spacing(4);
    }

    @include breakpoint-up(lg) {
        grid-column: 1 / span 5;
        order: 3;
        padding-top: 0;
    }

    @include breakpoint-up(xl) {
        grid-column: 1 / span 4;
    }
}

.grid__item--header-phone {
    position: relative;
    height: spacing(19);
    padding-top: spacing(2);

    @media (min-width: 21em) {
        height: spacing(20);
    }

    @media (min-width: 22em) {
        height: spacing(21);
    }

    @media (min-width: 23em) {
        height: spacing(23);
    }

    @include breakpoint-up(sm) {
        height: spacing(24);
        padding-top: spacing(3);
    }

    @include breakpoint-up(md) {
        grid-column: 7 / span 6;
        grid-row: 2; // specify row for IE
        padding-top: spacing(1);
    }

    @include breakpoint-up(lg) {
        grid-column: 8 / span 4;
        grid-row: 1 / span 2;
        order: 2;
        height: spacing(22);
        padding-top: 0;
    }
}

.grid__item--text-left {
    @include breakpoint-up(lg) {
        grid-column: 2 / span 6;
    }

    @include breakpoint-up(xl) {
        grid-column: 3 / span 5;
    }
}

.grid__item--text-right {
    @include breakpoint-up(lg) {
        grid-column: 8 / span 5;
    }

    @include breakpoint-up(xl) {
        grid-column: 8 / span 4;
    }
}

// Specify row for IE
.grid__item--figure-left,
.grid__item--figure-right {
    @include breakpoint-up(md) {
        grid-row: 2;
    }

    @include breakpoint-up(lg) {
        grid-row: 1;
    }
}

.grid__item--figure-left {
    @include breakpoint-up(lg) {
        grid-column: span 6;
        order: -1;
    }
}

.grid__item--figure-right {
    @include breakpoint-up(lg) {
        grid-column: 9 / span 4;
    }
}

.grid__item--footer-cta {
    @include breakpoint-up(lg) {
        grid-column: 2 / span 9;
    }

    @include breakpoint-up(xl) {
        grid-column: 1 / span 6;
    }
}

.grid__item--footer-note {
    @include breakpoint-up(md) {
        grid-column: 1 / span 8;
        grid-row: 2; // specify row for IE
    }

    @include breakpoint-up(lg) {
        grid-column: 2 / span 5;
    }

    @include breakpoint-up(xl) {
        grid-column: 9 / span 4;
        grid-row: 1; // specify row for IE
    }
}
