@function grid-column-spacing($offset, $context, $include-gap: true) {
    @if ($offset % 1 != 0) {
        @error "Grid spacing can only be adjusted by whole columns, #{$offset} given.";
    }

    @else if ($context % 1 != 0 or $context <= 0) {
        @error "Grid columns context is expected to be a whole positive number, #{$context} given.";
    }

    @else {
        $spacing: calc(#{$offset} * (#{$grid-gap} + (100% - #{$context - 1} * #{$grid-gap}) / #{$context}));

        @if not $include-gap {
            $spacing: calc(#{$offset} * (#{$grid-gap} + (100% - #{$context - 1} * #{$grid-gap}) / #{$context}) - #{$grid-gap});
        }

        @return $spacing;
    }
}

// IE friendly grid (with rows specified).
// Grid gap cannot be translated by Autoprefixer when not using grid template areas (like in this case).
// https://github.com/postcss/autoprefixer#grid-autoplacement-support-in-ie
@mixin grid-template() {
    display: grid;
    grid-template-columns: repeat($grid-columns, 1fr);
    grid-template-rows: auto auto;
    grid-column-gap: $grid-gap;
}
