<div class="signup{% if include.modification == "footer" %} signup--footer{% endif %} u-print-none">

    {% if include.modification == "footer" %}
        <h2 class="signup__headline u-typography-headline2">Keep up with&nbsp;the&nbsp;news</h2>
    {% endif %}

    <!-- Begin MailChimp Signup Form -->
    <form
        action="https://egamebook.us3.list-manage.com/subscribe/post?u=e232ffe7d6d21c3e969a1e651&amp;id=69ea4d7259"
        method="post"
        id="mc-embedded-subscribe-form"
        name="mc-embedded-subscribe-form"
        class="signup__form"
        target="_blank"
        novalidate
        onsubmit="gtag_report_sign_up()"
    >
        <div class="signup__form__field">
            <div class="textfield">
                <label for="mce-EMAIL" class="textfield__label">Your email</label>
                <input
                    type="email"
                    name="EMAIL"
                    value=""
                    id="mce-EMAIL"
                    class="textfield__input"
                    placeholder="Your email"
                    required
                />
            </div>
        </div>

        <!-- Real people should not fill this in and expect good things - do not remove this or risk form bot signups -->
        <div style="position: absolute; left: -5000px;">
            <label for="mc-message">Message</label>
            <input type="text" id="mc-message" name="b_e232ffe7d6d21c3e969a1e651_69ea4d7259" value="" />
        </div>

        <div class="signup__form__button">
            <input
                type="submit"
                name="subscribe"
                value="Subscribe"
                id="mc-embedded-subscribe"
                class="button"
            />
        </div>
    </form>
    <!--End mc_embed_signup-->

    <div class="signup__note">
        <p class="u-typography-note">As a subscriber, you get a bonus illustration (in full 13 megapixel resolution) by the project's illustrator, <a href="https://alecwebb.art/">Alec Webb</a>.</p>
    </div>
</div>
