.badge-layout {
    display: grid;
    grid-template-columns: min-content min-content;
    grid-column-gap: 0.5 * $grid-gap;
    grid-row-gap: spacing(1);
    justify-content: center;

    @include breakpoint-up(sm) {
        grid-column-gap: $grid-gap;
    }

    @include breakpoint-up(lg) {
        grid-column-gap: 1.5 * $grid-gap;
    }
}
