.badge-layout {
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: spacing(1);
    justify-items: center;
    margin-top: spacing(4);
    margin-bottom: spacing(8);

    @include breakpoint-up(sm) {
        grid-template-columns: min-content min-content;
        grid-column-gap: $grid-gap;
        justify-content: center;
    }

    @include breakpoint-up(md) {
        margin-top: spacing(6);
        margin-bottom: spacing(10);
    }

    @include breakpoint-up(lg) {
        grid-column-gap: 1.5 * $grid-gap;
    }
}
