.figure__media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.figure__media__image {
    display: block;
    width: auto;
    height: 100%;
    object-fit: contain;
}

.figure__caption {
    @include typography(body);

    margin-top: spacing(1);
    font-style: italic;
}

.figure--scene {
    padding-top: spacing(1);
}

.figure--scene .figure__media {
    max-width: 26rem;
    height: spacing(14);
    margin-right: auto;
    margin-left: auto;

    @include breakpoint-up(md) {
        max-width: none;
        height: spacing(17);
    }

    @include breakpoint-up(lg) {
        height: spacing(21);
    }
}

.figure--scene .figure__media__image {
    object-fit: cover;

    @include breakpoint-up(sm) {
        object-fit: contain;
    }
}

.figure--portrait .figure__media {
    height: spacing(16);

    @include breakpoint-up(lg) {
        height: spacing(19);
    }
}

.figure--portrait .figure__caption {
    display: none;

    @include breakpoint-up(md) {
        display: block;
    }
}
