.figure__media {
    overflow: hidden;
}

.figure__media__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;

    @include ie-only() {
        width: auto;
    }
}

.figure__caption {
    @include typography(figure-caption);

    margin-top: spacing(1);
    text-align: center;

    @include breakpoint-up(lg) {
        text-align: left;
    }
}

.figure--spaced {
    padding-top: spacing(2);
    padding-bottom: spacing(1);

    @include breakpoint-up(sm) {
        padding-top: spacing(3);
        padding-bottom: 0;
    }

    @include breakpoint-up(lg) {
        padding-top: 0;
    }
}

.figure--bandits .figure__media,
.figure--chess .figure__media,
.figure--scene .figure__media {
    margin-right: auto;
    margin-left: auto;
}

.figure--bandits .figure__media {
    max-width: 26rem;
    height: spacing(10);

    @include breakpoint-up(sm) {
        max-width: none;
        height: spacing(12);
    }

    @include breakpoint-up(md) {
        height: spacing(14);
    }

    @include breakpoint-up(xl) {
        height: spacing(16);
    }
}

.figure--chess .figure__media {
    max-width: 24rem;
    height: spacing(11);

    @include breakpoint-up(sm) {
        max-width: none;
        height: spacing(12);
    }

    @include breakpoint-up(md) {
        height: spacing(14);
    }

    @include breakpoint-up(lg) {
        height: spacing(10);
        margin-left: grid-column-spacing(-1, 4);
    }

    @include breakpoint-up(xl) {
        height: spacing(12);
    }
}

.figure--scene .figure__media {
    max-width: 26rem;
    height: spacing(14);

    @include breakpoint-up(md) {
        max-width: none;
        height: spacing(15);
    }

    @include breakpoint-up(lg) {
        height: spacing(17);
    }

    @include breakpoint-up(xl) {
        height: spacing(21);
    }
}

.figure--portrait .figure__media {
    height: spacing(13);

    @include breakpoint-up(md) {
        height: spacing(14);
    }

    @include breakpoint-up(lg) {
        height: spacing(16);
        margin-left: grid-column-spacing(-1, 4);
    }

    @include breakpoint-up(xl) {
        height: spacing(19);
    }
}

.figure--bandits .figure__media__image,
.figure--chess .figure__media__image,
.figure--scene .figure__media__image {
    object-fit: cover;

    @include breakpoint-up(sm) {
        object-fit: contain;
        object-position: 50% 0;
    }
}

.figure--portrait .figure__media__image {
    transform: translateX(2rem);

    @include breakpoint-up(sm) {
        transform: none;
    }
}
