// Main content area sits between Header and Footer and should be used just once on page.

.main {
    padding-top: spacing(4);
    padding-bottom: spacing(1);

    @include breakpoint-up(sm) {
        padding-bottom: spacing(3);
    }

    @include breakpoint-up(md) {
        padding-bottom: spacing(2);
    }

    @include breakpoint-up(lg) {
        padding-top: spacing(4);
    }
}
