@mixin _badge-size($baseline-height, $added-height: 0) {
    height: spacing($baseline-height) + $added-height;
    margin-top: -1 * $added-height / 2;
    margin-bottom: -1 * $added-height / 2;
    border-radius: 0.5rem + $added-height / 6;
}

.store-badge {
    @include _badge-size($baseline-height: 2, $added-height: -0.5rem);
    @include transition(box-shadow);

    display: block;
    width: auto;

    &:focus,
    &:active {
        outline: 0;
        box-shadow: $shadow-highlight;
    }

    @include breakpoint-up(sm) {
        @include _badge-size($baseline-height: 2);
    }

    @include breakpoint-up(lg) {
        @include _badge-size($baseline-height: 2, $added-height: 0.5rem);
    }
}
