<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <link rel="preload" href="/css/main.min.css?v=2019040501" as="style" />
    <link rel="preload" href="/img/phone@2x.png?v=2019040501" as="image" />
    <link rel="preload" href="/fonts/LibreBaskerville-Bold.woff2?v=2019021201" as="font" type="font/woff2" crossorigin="anonymous" />
    <link rel="preload" href="/fonts/LibreBaskerville-Italic.woff2?v=2019021201" as="font" type="font/woff2" crossorigin="anonymous" />
    <link rel="preload" href="/fonts/LibreBaskerville-Regular.woff2?v=2019021201" as="font" type="font/woff2" crossorigin="anonymous" />
    <link rel="preload" href="/fonts/LibreFranklin-Black.woff2?v=2019021201" as="font" type="font/woff2" crossorigin="anonymous" />
    <link rel="preload" href="/fonts/LibreFranklin-Light.woff2?v=2019021201" as="font" type="font/woff2" crossorigin="anonymous" />
    <link rel="preload" href="/fonts/LibreFranklin-Thin.woff2?v=2019021201" as="font" type="font/woff2" crossorigin="anonymous" />

    <link rel="preconnect" href="https://www.googletagmanager.com" />
    <link rel="preconnect" href="https://www.google-analytics.com" />

    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}" />

    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="stylesheet" href="/css/main.min.css?v=2019040401" />

    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-495778-10"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments)};
        gtag('js', new Date());

        gtag('config', 'UA-495778-10');

        // {% comment %}
        // START CUSTOM ANALYTICS CODE
        // Modifications for AdWords conversion tracking ($1-a-day account).
        // {% endcomment %}
        gtag('config', 'AW-752861179');

        // {% comment %}
        // Event snippet for newsletter conversion.
        // {% endcomment %}
        function gtag_report_sign_up(url) {
            var callback = function () {
                if (typeof(url) != 'undefined') {
                    window.location = url;
                }
            };
            gtag('event', 'conversion', {
                'send_to': 'AW-752861179/X_APCPmU75cBEPv__uYC',
                'event_callback': callback
            });
            gtag('event', 'sign_up');
            return false;
        }
        // {% comment %}
        // END CUSTOM ANALYTICS CODE
        // {% endcomment %}
    </script>
</head>
<body>

{{ content }}

</body>
</html>
