---
layout: base
---

<header class="header header--minimal">
    <div class="container">

        <div class="h-typography-title">
            <a href="{{ site.url }}">{{ site.name }}</a>
        </div>

    </div>
</header>

<main>
    <section class="section section--dense-bottom">
        <div class="container">

            {{ content }}

        </div>
    </section>
</main>

<footer class="footer footer--minimal">
    <div class="container">

        <hr />

        {% include footer-bottom.html %}

    </div>
</footer>
