.h-color-variant-light {
    color: map-get($colors-grays, gray-darkest);
    background-color: map-get($colors-grays, white);
}

.h-color-variant-dark {
    color: map-get($colors-grays, white);
    background-color: map-get($colors-grays, gray-darkest);
}
