@font-face {
    font-style: normal;
    font-weight: map-get($typography-font-weight-values, regular);
    font-family: 'Libre Baskerville';
    src:
        url(../fonts/LibreBaskerville-Regular.woff2?v=2019021201) format('woff2'),
        url(../fonts/LibreBaskerville-Regular.woff?v=2019021201) format('woff');
    font-display: swap;
}

@font-face {
    font-style: italic;
    font-weight: map-get($typography-font-weight-values, regular);
    font-family: 'Libre Baskerville';
    src:
        url(../fonts/LibreBaskerville-Italic.woff2?v=2019021201) format('woff2'),
        url(../fonts/LibreBaskerville-Italic.woff?v=2019021201) format('woff');
    font-display: swap;
}

@font-face {
    font-style: normal;
    font-weight: map-get($typography-font-weight-values, bold);
    font-family: 'Libre Baskerville';
    src:
        url(../fonts/LibreBaskerville-Bold.woff2?v=2019021201) format('woff2'),
        url(../fonts/LibreBaskerville-Bold.woff?v=2019021201) format('woff');
    font-display: swap;
}

@font-face {
    font-style: normal;
    font-weight: map-get($typography-font-weight-values, thin);
    font-family: 'Libre Franklin';
    src:
        url(../fonts/LibreFranklin-Thin.woff2?v=2019021201) format('woff2'),
        url(../fonts/LibreFranklin-Thin.woff?v=2019021201) format('woff');
    font-display: swap;
}

@font-face {
    font-style: normal;
    font-weight: map-get($typography-font-weight-values, light);
    font-family: 'Libre Franklin';
    src:
        url(../fonts/LibreFranklin-Light.woff2?v=2019021201) format('woff2'),
        url(../fonts/LibreFranklin-Light.woff?v=2019021201) format('woff');
    font-display: swap;
}

@font-face {
    font-style: normal;
    font-weight: map-get($typography-font-weight-values, black);
    font-family: 'Libre Franklin';
    src:
        url(../fonts/LibreFranklin-Black.woff2?v=2019021201) format('woff2'),
        url(../fonts/LibreFranklin-Black.woff?v=2019021201) format('woff');
    font-display: swap;
}
